<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>model_placeholder-ABPC</key>
	<dict>
		<key>CFBundleIdentifier</key>
		<string>${MODULE_NAME}</string>
		<key>IOClass</key>
		<string>USBInjectAll</string>
		<key>IOProviderClass</key>
		<string>AppleBusPowerController</string>
		<key>model</key>
		<string>model_placeholder</string>
		<key>kName</key>
		<string>AppleBusPowerController</string>
	</dict>
	<key>model_placeholder-XHC</key>
	<dict>
		<key>CFBundleIdentifier</key>
		<string>${MODULE_NAME}</string>
		<key>IOClass</key>
		<string>USBInjectAll</string>
		<key>IONameMatch</key>
		<array>
			<string>XHC</string>
			<string>XHCI</string>
		</array>
		<key>IOProviderClass</key>
		<string>AppleUSBXHCIPCI</string>
		<key>model</key>
		<string>model_placeholder</string>
	</dict>
</dict>
</plist>
